[2020-07-24 10:37] veix opened #4 "using portal as a lib"
is it possible to use portal as a lib and have it not spy on the whole repl?

[2020-07-24 17:35] djblue commented on #4
Hi @veix, I'm not sure I understand your question. Currently, the main way to send values to portal is via `tap>` which should be independent of repl interactions. If your repl automatically uses `tap>` on all output values, then they will also be delivered to portal. Are you asking for another mechanism for sending values to portal?

[2020-08-16 06:14] djblue commented on #4
Closing this for now, feel free to open it back up.

[2020-08-16 06:14] #4 closed

[2020-08-20 22:05] djblue opened #11 "Transit error when encoding symbol keys with metadata"
Currently, any maps with symbol keys that contain metadata will cause issues for portal. It's related to [#47](https://github.com/cognitect/transit-clj/issues/47) transit-clj issue.

[2020-08-30 18:04] MrGung opened #12 "Should it work on windows?"
I am using Windows 10, starting portal in the REPL with

`clojure -Sdeps '{:deps {djblue/portal {:mvn/version """"""0.4.0""""""}}}'`

I then follow the example from the webpage:

[code]

A browser-tab is opened (on p/open) but nothing is ever displayed. The window stays blank...

[2020-08-30 18:23] djblue commented on #12
It should. Can you try version `0.3.1` and see if that works?

[2020-08-31 05:01] MrGung commented on #12
It works fine with `0.3.1`!

[2020-08-31 15:54] djblue commented on #12
I had to add a custom [http server](https://github.com/djblue/portal/blob/master/src/portal/http_socket_server.clj) to support [babashka](https://github.com/borkdude/babashka). I only tested it on osx and linux. Guess it doesn't work on windows.

What browser does it open in? Also, can you get any information about network activity in the browser debug tools?

[2020-09-01 02:00] djblue commented on #12
Should be fixed by https://github.com/djblue/portal/commit/e13a9d99c680a4be0e5aab4e6bb31e1761a2f0c4 and released in [`0.4.1`](https://github.com/djblue/portal/releases/tag/0.4.1).

[2020-09-01 05:55] MrGung commented on #12
It opens in my default browser, which is Opera. I also copied the URL to Chrome. Same result: the only network-traffic is a GET for the favicon (which results in a 404).

[2020-09-01 06:17] djblue commented on #12
Does 0.4.1 work for you?

[2020-09-01 06:28] MrGung commented on #12
It does. Thanks!

[2020-09-01 06:30] djblue commented on #12
Sweet, thanks for the bug report!

[2020-09-01 06:30] #12 closed

[2020-09-16 16:01] cldwalker opened #14 "portal.main failure with 0.5.0 and babashka 0.2.0"
Hi. Thanks for this awesome tool. When I tried this with the latest portal and babashka, I get the following failure:

[code]

I didn't know if this failure was known. Is this related to https://github.com/borkdude/sci/issues/401?

[2020-09-16 23:51] djblue commented on #14
Hi @cldwalker, I'm glad you like portal and thanks for the report! I did accidentally break portal.main but just release [0.5.1](https://github.com/djblue/portal/releases/tag/0.5.1) so it should be fixed.

[2020-09-17 13:20] cldwalker commented on #14
Confirmed the latest works. Thanks!

[2020-09-17 13:20] #14 closed

[2020-10-16 09:57] l0st3d opened #17 "The UI seems to lock up if you tap an infinite lazy seq"
I've not looked into it, but I assume it's trying to display the whole thing. It might be worth detecting this and implementing some pagination or something??

[2020-10-16 10:41] l0st3d commented on #17
This is on an JVM, using CIDER.
    ;; CIDER 0.27.0snapshot (package: 20200813.2112), nREPL 0.8.0
    ;; Clojure 1.10.1, Java 14.0.1

[2020-10-16 11:02] l0st3d commented on #17
Doing something like this
[code]
takes longer than my patience to return, and seems to stop me from running `cider-quit`.

[2020-10-16 16:12] djblue commented on #17
Hi @l0st3d, this happens on the host side of things when the data is being [serialized as transit](https://github.com/djblue/portal/blob/master/src/portal/runtime/transit.clj#L25) before it's shipped up to the UI. I think if you `(tap> (range))` in REBL, they truncate to 10k items, which would be a reasonable solution for portal as well. I tend not to run into this problem, so it isn't a priority

[2020-10-17 19:55] djblue commented on #17
@l0st3d I changed my mind and went ahead and implemented a solution in #18

[2020-10-23 12:15] l0st3d commented on #17
That seems like a reasonable solution too. Will have a test. Many thanks.

Just out of interest, how much effort do you think implementing pagination would be?

[2020-10-27 10:54] brdloush opened #20 "Custom icon for Portal window"
Hello,

it would be nice if the browser window, that gets spawned by Portal, had its own custom portal icon.

Currently Portal window receives generic browser icon (green Google Chrome icon in my case) and therefore it is quite hard to find it when switching between windows using alt-tab. Similarly, it's confusing to see portal windows being grouped with other browser windows in Plank dock (on lin

[2020-10-27 11:00] brdloush commented on #20
btw on linux I had some success with the [approach mentioned here](https://community.foundry.com/discuss/post/1046531), but only with some windows. This approach didn't work for chrome windows unfortunately. Not sure why it sometimes work and sometimes not.

[2020-10-27 19:08] djblue commented on #20
Hi @brdloush,

This is an interesting problem. I'll see if there is anything that can be passed to chrome to set the system icon.

Thanks for the kind words!

[2020-10-29 19:48] djomphe-elyada opened #21 "Headless serving mode"
Hi, (this looks awesome!)

I would like to know if it would make sense to launch the portal web server in headless mode, delegating to the user the responsibility of opening it up in their browser themselves.

I'm asking because we're trying to use it from a Windows WSL 2 Ubuntu image. Those images don't have windowing capabilities, only terminal capabilities. If they could just spit up the served

[2020-10-30 03:18] djblue commented on #21
Hi @djomphe-elyada,

Does portal try to open a browser window or basically do nothing?

I could add a url to the returned data which would let you know where to go.

Thanks!

[2020-10-30 15:09] djomphe-elyada commented on #21
Thanks djblue, I should have provided some context, here are two screenshots.

![image (1)](https://user-images.githubusercontent.com/70277581/97721638-12f3f700-1aa0-11eb-90cf-0b08f5043224.png)

![image](https://user-images.githubusercontent.com/70277581/97721584-01aaea80-1aa0-11eb-8bcb-2499e72e178f.png)

I tried to configure a X server and had success through the command line with gvim, but anywa

[2020-11-02 14:51] djomphe-elyada commented on #21
Thanks again. Browsing the provided URL resulted in a logged error:

[code]

[2020-11-03 03:33] djblue commented on #21
Hi @djomphe-elyada, using portal via git-deps doesn't currently work because I include the clojurescript client in the release jar but not in the git repo. I just release `0.6.3` which should fix your issue.

[2020-11-03 12:46] djomphe-elyada commented on #21
Hi, thanks a lot, this is superb, it now works for us as of `0.6.3`!
Can't wait to start playing with Portal now!

[2020-11-03 15:41] #21 closed

[2020-11-10 03:55] djblue commented on #17
@l0st3d I just updated #18 to lazily fetch seqs. It does so in batches of 100. As you scroll, more data from the seq is fetched.

[2020-11-13 01:41] #17 closed

[2020-12-04 10:34] eneroth opened #25 "Dies on objects"
Portal dies on objects, it seems.

For example, after tapping something like,

[code]

the session is busted, and it seems to receive no further values until the JVM is rebooted.

[2020-12-04 15:39] djblue commented on #25
![Screen Shot 2020-12-04 at 8 37 45 AM](https://user-images.githubusercontent.com/1986211/101182918-ffdac680-360b-11eb-8e35-d0826ee546c2.png)

Hi @eneroth, thanks for the issue. This is what I get locally. It looks like you have a trailing `]}`, is there more data?

[2020-12-04 17:41] eneroth commented on #25
Sorry, that was an oops when I copied and pasted the code.

It seems that the issue occurs when I run it from a project folder, where I must have a dep that overrides or conflicts with something in Portal.

After some poking around, it seems that if I remove [Fulcro](https://github.com/fulcrologic/fulcro) as a dependency, it works fine. So it would seem that this comes down to dependency conflicts

[2020-12-04 19:48] djblue commented on #25
I think you are correct. You are running into this issue:

https://github.com/djblue/portal/blob/master/deps.edn#L13

[2020-12-04 22:30] eneroth commented on #25
That's it, chucking the override in there seems to make everyone happy.

[code]

This is excellent, thank you very much for the help.

[2020-12-04 22:30] #25 closed

[2020-12-10 11:08] yvendruscolo opened #26 "YAML support"
With the ubiquity of YAML format, it would be useful to have a direct support for it from the cli.

I have started an experiment on [a fork](https://github.com/yvendruscolo/portal), which seems to work fine, but it could use some further development.

[2020-12-10 19:13] djblue commented on #26
Hi @yvendruscolo, I think adding YAML support is a great idea! I do think we should prefer [clj-yaml](https://github.com/clj-commons/clj-yaml) since it would make [babashka](https://github.com/borkdude/babashka) support trivial.

Also, I think it should be optional support, so we should expect users to include clj-yaml in their deps instead of mandating it for all users. Using [`resolve`](https://

[2020-12-11 15:13] yvendruscolo commented on #26
great idea, will check it out!

[2020-12-12 18:14] djblue commented on #26
Released as part of `0.7.0`

[2020-12-12 18:14] #26 closed

[2020-12-16 18:08] brdloush commented on #20
I managed to succesfully change the task-switcher icon of already-running portal window using `xdotool search -name "portal - jvm - 0.6.1"  set_window --classname "firefox"`.

Unfortunately I have no idea how the actual icon gets derived from this classname (which is effectively `WM_CLASS`), nor do I know how to register your own icon using this approach.

[2020-12-19 20:29] djblue commented on #20
@brdloush  I've been working on https://github.com/djblue/portal/tree/pwa that I think might accomplish this. The idea is that you could install a [progressive web app](https://web.dev/progressive-web-apps/) from github that acts as a host for your local instance of portal. The pwa can have a theme color and an icon :100: The hardest part has been getting the app-id after install but I got it most

[2020-12-22 16:54] pangloss opened #28 "No support for clojure ratio type"
Instead of showing a ratio like `1/3` it just shows `#ratio[2]`

[2020-12-22 21:52] djblue commented on #28
Hi @pangloss, thanks for reporting the issue. This should be a pretty easy fix, just need to account for this type of tagged value [here](https://github.com/djblue/portal/blob/master/src/portal/ui/inspector.cljs#L39) and implement a ratio renderer. Do you have any interest in submitting a PR?

[2020-12-23 01:14] pangloss commented on #28
Hi, sorry I'm busy with a couple of other projects so don't think I'll have time to do the PR. Was just trying out the project, and it looks very nice and useful.

By the way I took a quick look at the code you linked and was surprised you didn't use a multimethod for that part since it seems like a good way to make the system more user-extensible. Anyway, thanks for putting together a useful tool

[2020-12-24 01:35] djblue commented on #28
No worries, https://github.com/djblue/portal/commit/0b44c76ddf5436fb89cd5ea5eb41ed25aee18f2b should fix it.

[2020-12-24 01:35] #28 closed

[2020-12-31 18:24] gaberger opened #33 "Provide context aware navigation."
This would be a feature enhancement currently focused on :portal.view/table such that when clicking on the index column, instead of navigating to the element which is somewhat pointless, will instead transition the view to column mode for that specific index.

[2020-12-31 19:55] djblue commented on #33
Is the below video what you are trying to accomplish? Selecting a subset of all columns to focus on?

https://user-images.githubusercontent.com/1986211/103423983-1de20b00-4b67-11eb-80a8-3985e8591dc4.mov

[2021-01-11 20:31] gaberger opened #35 "After upgrade to 0.8.0 p/close causes timeout error on shutdown hook"
[code]

### Stacktrace

Press CTRL+C to exit
[code]

[2021-01-13 01:41] djblue commented on #35
Hi @gaberger, I can't seem to reproduce this locally. Do you have any additional information? Thanks for reporting the issue.

[2021-01-13 15:17] olymk2 opened #36 "Any chance of a figwheel example ?"
I have added the requirement to deps.edn, but i am not sure how to make the web app launch, the example uses -m "cljs.main" but in figwheel you don't normally do this.

In my dev.cljs.edn file I have this config which has a load of extra mains, I figure I need to add an entry point in there tried a few things, is this the right way or should I be launching it from the repl in the user.cljs namespa

[2021-01-13 17:15] olymk2 commented on #36
I am not sure I thought extra mains was a bit like that.
looking at that example I guess I can add user.main as an extra main and use what you have in cljs.user thats what I was not sure about, I thought portal would just pop up but seems you have to add the code to launch it, I thought that was only for extra customization I will try that way and let you know if that works.

[2021-01-13 20:53] olymk2 commented on #36
I have tried in both firefox and chrome but both give me a white screen, whats this code doing ?
[code]
Is main.js my reagent app js ie resources/public/cljs-out/dev-main.js ?

or part of portal, either way I get

Loading failed for the <script> with source “http://localhost:9500/main.js”

[2021-01-13 20:55] djblue commented on #36
That is for swapping to the dev version of portal.web. You don't want that. I would delete most of the user.cljs as most of it is specific to development in portal.

[2021-01-13 20:58] olymk2 commented on #36
@djblue thanks for the help, so basically add the dependency then just launch (p/open) from user.cljs or where ever to trigger the interface.

I will play a bit more but that seems to have done it, thanks again for your time :)

[2021-01-13 21:12] djblue commented on #36
I'm glad you could get it working! Do mind adding a minimal fighweel project under examples or providing me some details so I can do so?

[2021-01-13 21:17] olymk2 commented on #36
Give me a day or two and i will see about adding one or giving some details its late here and i want to play a bit first :)

[2021-01-15 16:39] olymk2 commented on #36
https://github.com/djblue/portal/pull/37
not figured out if I can make portal run when you jack in, but this at least works if you eval the commands.

[2021-01-17 02:34] djblue commented on #20
I'm closing this as it is mostly solved by using portal as a pwa. The launcher will [check to see if you have it installed](https://github.com/djblue/portal/blob/master/src/portal/runtime/jvm/launcher.clj#L35-L54) and prefer that over the normal `--app` chrome-flag. @brdloush feel free to open a new issue if you run into any problems.

[2021-01-17 02:34] #20 closed

[2021-01-19 16:56] coyotesqrl opened #38 "Provide api access to `remove-tap`"
While it's trivial to remove the tap (or clear all open taps), it would be nice if the api provided a mechanism to do that. I'd think either a new fn, such as
[code]

or a side-effect of closing inspector windows like this
[code]

would work best.

[2021-01-20 03:09] djblue commented on #38
Hi @coyotesqrl, thanks for pointing out the issue. I think both are valid options. Which one would you prefer?

I think another option would be to deprecate the `p/tap` function and expose a single function `p/submit` which can be used directly with `add-tap` and `remove-tap`. Would that be better?

[2021-01-20 12:58] coyotesqrl commented on #38
I'm not clear where you're going with the `p/submit` function, but another option that occurs to me is deprecated `p/tap` and adding its functionality as a side-effect to `p/open`, with the `remove-tap` then occurring as a side-effect in `p/close`.

I've not been able to think of a use case for an open inspector without a tap in place; in fact, I sometimes forget to call `p/tap` after initially op

[2021-01-21 10:30] brdloush opened #40 "PWA - searching for Preferences folder not working when using multiple chrome profiles"
According to...

https://github.com/djblue/portal/blob/master/src/portal/runtime/jvm/launcher.clj#L44-L46

...portal is looking for `~/.config/google-chrome/Default/Preference` file. But if you're using multiple profiles in your chrome, then it's likely that `Default` folder does not exist. Instead, you have `~/.config/google-chrome/Profile\ 1/Preferences`, `~/.config/google-chrome/Profile\ 2/Pref

[2021-01-22 16:26] #38 closed

[2021-01-22 16:46] djblue commented on #40
Hi @brdloush, is this something you have interest in submitting a pull request for?

[2021-01-23 03:21] djblue commented on #40
Should be fixed in `0.9.0`, thanks again for the PR @brdloush !

[2021-01-23 03:21] #40 closed

[2021-01-23 10:45] brdloush commented on #40
Thank you as well. Glad to have helped.

[2021-01-27 06:29] djblue commented on #36
Resolved with #37, thanks again for the PR!

[2021-01-27 06:29] #36 closed

[2021-01-27 06:30] djblue commented on #35
Without any further details, I'm not sure I can be of any help. Please feel free to open this back up with more information.

[2021-01-27 06:30] #35 closed

[2021-03-29 01:13] nickbauman opened #48 "Incompatible with http-kit protocols?"
When I create a user.clj like this:

[code]

  and load it into an nREPL, I get:

  `Syntax error (IllegalArgumentException) compiling http/server-stop! at (portal/runtime/jvm/launcher.clj:68:3). No single method: server_stop_BANG_ of interface: org.httpkit.server.IHttpServer found for function: server-stop! of protocol: IHttpServer`

[2021-03-29 17:00] djblue commented on #48
@nickbauman I think this might be a dependency conflict issue. Do you know what version of http-kit you have on your classpath?

[2021-03-29 17:07] nickbauman commented on #48
I have
`http-kit/http-kit          {:mvn/version "2.4.0"}`

[2021-03-29 18:29] nickbauman commented on #48
So it looks like upgrading to 2.5.3 version of http-kit and upgrading to 0.10.0 of portal fixes this problem. Thanks @djblue !!!

[2021-03-29 18:29] #48 closed

[2021-04-10 02:53] djblue commented on #11
https://github.com/djblue/portal/pull/51 should fix this.

[2021-04-10 04:18] #11 closed

[2021-04-18 17:57] djblue commented on #33
Closing for now, feel free to re-open the issue with more info.

[2021-04-18 17:57] #33 closed

[2021-04-22 07:49] plexus opened #54 "Issues on Firefox"
Thanks for the great tool! I noticed some issues on Firefox, so I figured I'd open an issue to help track these.

- Command Palette doesn't show any choices

You can use the command palette, by typing in what you want and hitting enter, but the list of options shows as empty.

- Command Palette keyboard shortcut is unavailable

It's currently bound to Ctrl-Shift-p (on non-mac), which in FF opens a

[2021-04-23 06:57] djblue commented on #54
Hi @plexus,

Just pushed up https://github.com/djblue/portal/commit/b9cd86725efa5d260aaecd7649e44d55802e4dc8 with some fixes. The hidden issues was a small css error and I added the `ctrl-j` binding alongside `ctrl-shift-p` for opening the command palette. The changes are deployed to the [pwa](https://djblue.github.io/portal/). If you could please verify that these changes resolve your issue, I ca

[2021-04-25 20:14] #54 closed

[2021-04-26 06:10] plexus commented on #54
Thanks! I had a play with it yesterday, all works as advertised!

[2021-05-06 20:15] latacora-gabriel opened #55 "Shortcut for search"
Hi @djblue,
  Would it be possible to provide a shortcut for focusing on the search/filter input? Perhaps '/'? I could give this a shot sometime soon if you'd like. Could also be useful to mention the shortcuts available in https://github.com/djblue/portal/blob/b9cd86725efa5d260aaecd7649e44d55802e4dc8/src/portal/ui/commands.cljs#L175 from the readme.
Thanks again for the awesome tool! Been using i

[2021-05-08 03:58] djblue commented on #55
Hi @latacora-gabriel,

I would eventually like to provide users the ability to customize their shortcuts. The data-structure you linked has evolved over time and I'm still playing with it a little. When it matures, I'll expose it via config. Until then, I'm fine with adding it directly to portal.

You need an a dom reference to this [input](https://github.com/djblue/portal/blob/master/src/portal/u

[2021-06-11 09:21] thecontinium opened #58 "Unable to resolve using (add-tap #'p/submit)"
I am connection to an nrepl on a server with `lein repl :connect 7679`and I get the following exception thrown when ` (add-tap #'p/submit) ` but all works when I use the depreciated `(p/tap)`

[code]
This only happens when I connect to a running nrepl.

Cheers

[2021-06-11 15:27] djblue commented on #58
Hi @thecontinium, what version of portal are you working with.? `portal.api/submit` was added as part of 0.9.0.

[2021-06-12 08:13] thecontinium commented on #58
Hi @djblue, I am using the LATEST version. If I `lein repl` rather than `lean repl :connect 12345` it works fine.

[2021-06-13 00:58] djblue commented on #58
What does the project you are connecting to via `lein repl :connect 12345` look like? I tried [./examples/jvm/](https://github.com/djblue/portal/tree/master/examples/jvm) with latest portal and lein and can't reproduce.

[2021-06-13 08:06] thecontinium commented on #58
It's connecting to an nrepl server running inside a docker container where ports 12345 and 12346 are mapped to the host machine and started with

[code]

After connecting this works although I have to paste the portal server url output on startup into chrome manually on the host machine.

[code]

using `(add-tap #'p/submit)` instead of `(p/tap)` throws the exception.

The same project just startin

[2021-06-28 08:05] bnii opened #59 "StackOverflowError when submitting a huge datastructure with parsed xml"
(In the JVM) I was trying to inspect a datastructure with a huge XML parsed with `clojure.data.xml` in it.

[code]

Not sure the depth should matter (or how to get it correctly), but

[code]

[2021-07-02 04:26] djblue commented on #59
Hi @bnii, yeah portal isn't great for data that's supers nested or long. I have some long term plans to improve this but nothing in the short term, sorry.

[2021-08-14 04:32] djblue commented on #58
Since I wasn't able to reproduce, closing for now.

[2021-08-14 04:32] #58 closed

[2021-09-14 08:49] qleguennec opened #65 "Support vim keybindings"
The user should be able to at least use `h`, `j`, `k`, `l` for navigation, and maybe easily customize their keybindings through a config file. If this is easily doable and wanted as a feature, I can give it a try.

[2021-09-15 08:33] djblue commented on #65
Hi @qleguennec, I've been meaning to add those key mappings to portal. Just pushed up https://github.com/djblue/portal/commit/875751d2bade48dcd5cdba34d26cc76ea459b63d. You can try the change out at [djblue.github.io/portal](https://djblue.github.io/portal/).

[2021-09-19 16:43] djblue commented on #65
This should be resolved with the release of [0.15.0](https://github.com/djblue/portal/releases/tag/0.15.0).

[2021-09-19 16:43] #65 closed

[2021-09-22 00:05] djblue commented on #55
Hi @latacora-gabriel, I went ahead and implemented this with https://github.com/djblue/portal/commit/dcbb0840b9a23d0e86738e1bf4bae54c8ef3cfbc. Should be part of the next release. You can try out the ux [here](http://djblue.github.io/portal).

[2021-09-22 00:05] #55 closed

[2021-10-12 08:10] bsless opened #68 "Add support for brave-browser as chrome-bin"
Hello,
I'm starting to use Portal and encountered a slight inconvenience, it does not recognize Brave browser
Brave is another chromium based browser which can probably be used just like the other executables found by `get-chrome-bin`, and supports launching in app mode.
The linux executable is called `brave-browser`, not sure regarding other operating systems.

Thanks

[2021-10-12 21:37] djblue commented on #68
No worries, I can test out those platforms. That's a good point about different browser choices. What do you think the option should look like?

[2021-10-13 04:43] bsless commented on #68
`open` can take an option for preferred browser which would be looked for first, `:portal.launcher/browser`?
In the same vain, an option to save these configuration and have portal automatically search for them would also be nice. in *nix systems you can place a file in XDG_CONFIG_PATH, with windows it's always a riddle. Then users won't need to specify browser, color, or other preferred options.

[2021-10-15 20:24] esp1 opened #69 "Some numeric values do not display correctly in Portal"
Portal is not able to accurately display numeric values that exceed what can be represented in Javascript. For instance, the long value `4611681620380904123` shows up in Portal as `4611681620380904000`. This can be confusing when using Portal with a Clojure repl.

[2021-10-16 00:15] burinc opened #71 "Are you open to adding more color/theme to the project?"
I just want to check before opening a new PR.

[2021-10-16 00:42] burinc commented on #71
<img width="816" alt="Screen Shot 2021-10-15 at 8 41 35 PM" src="https://user-images.githubusercontent.com/19825136/137566981-279c7ae6-f705-4a40-8d73-e6eb5164222e.png">
Sample screenshot when using it in Emacs

[2021-10-16 01:04] djblue commented on #71
That theme looks very nice 😍! There is a [development section in the readme](https://github.com/djblue/portal#development). Mainly, run `bb dev` to get a shadow-cljs server running. Connect via nrepl/socket repl and start evaling stuff in [`user.clj`](https://github.com/djblue/portal/blob/master/dev/user.clj#L55).

[2021-10-16 02:34] #69 closed

[2021-10-18 00:05] burinc commented on #71
Closed since PR #72 is now in the master branch.

[2021-11-03 22:21] davidpham87 opened #74 "Feature request: Standalone/Server mode"
Hello,

Thanks a lot, portal is a great addition to the Clojure ecosystem.

I wonder if that was possible to create a standalone server mode, and clients could connect to it by sending request to the server.  In my mind , you could start a server portal with babashka in a a given port (say 1664), then any client (clj/CLJS) could send edn data to the server through http request. Optimally, a tap re

[2021-11-04 01:42] djblue commented on #74
Hi @davidpham87, thanks for the kind words!

Portal could provide a client API but it would provide less functionality since it wouldn't have access to runtime objects. I added https://github.com/djblue/portal/commit/0d39d476ef4203292871b6b0ab89c57a6112e6a2 as an example of what could be done currently with portal. Is this kind of what you were thinking?

[2021-11-04 08:21] davidpham87 commented on #74
Hi @djblue,

Thanks a lot for the swift answer! Yes, this is what I have been thinking about!

As for your comment, I might be using clojure in the wrong way, but I try to code as much as possible with data, and if I need to introspect an object, I try to convert it to a hash-map before I tap it.

In terms of ergonomics, I wish we could have a flag to `portal.main` such that we could invoke portal

[2021-11-05 13:28] latacora-gabriel commented on #55
Thanks! Sorry I never got around to this. Works great!

On Tue, Sep 21, 2021 at 8:05 PM Chris Badahdah ***@***.***>
wrote:

[2021-11-07 18:39] martinklepsch commented on #74
@djblue thanks for this, portal keeps surprising me with how easy it is to set up in different environments! This time `tap>`-ing from Cloudflare workers :)

[2021-11-07 19:13] davidpham87 commented on #74
@martinklepsch Thanks a lot for the code snippet, we should totally find a way to merge this into the library. @djblue Would you welcome a pull request?

[2021-11-08 02:52] djblue commented on #74
@martinklepsch thanks for the ClojureScript client example!

@davidpham87 I would definitely welcome a pull request! Since you've opened this issues, I've been thinking a lot about how a remote API would enable a bunch of useful workflows. https://github.com/djblue/portal/tree/client-api is what I have done so far but it could use more work.

I'm thinking the clients could live under `portal.clien

[2021-11-10 02:25] djblue commented on #74
@davidpham87 the changes have been merged to master and will be part of the next release. I made the following updates:

Rename client fns from send! to submit
- Use submit to more closely match `portal.api/submit`
- Default to edn for transport as it provides the highest level of serialization fidelity.
- Include metadata when printing edn
- Default to tagged literals when reading edn

Thanks aga

[2021-11-10 02:25] #74 closed

[2021-11-16 18:22] Lambeaux opened #77 "Generating nested data drill-down code based upon the current Portal selection"
Now that Portal works with VSCode (and soon IntelliJ/Cursive), it may be time to explore some code generation features.

This is a new feature idea for Portal and I wanted to start crowdsourcing some thought on the matter. We could add a "Where am I?" feature to complement dereferencing the Portal atom. It would output the actual code that, when evaluated, outputs the data you have currently selec

[2021-11-16 18:58] coyotesqrl commented on #77
A simple/dumb solution is to expand the shape of the atom to include the equivalent of a breadcrumb trail from root to the current value. On each step in/out that trail would be appended/truncated as appropriate.

[2021-11-17 10:29] davidpham87 opened #78 "Feature Request: Shortcut for selecting the element in the portal list"
Hello :-)

Thanks a lot again for the client API. I am starting to use portal in my workflow with emacs and portal is basicaly allows me to browse data from various projects.

May I just ask if it possible to focus the data panel with a shortcut?  I am using the TAB key now to cycle/navigate, but it would be helpful to have a shortcut (much like CTRL-j).

Best regards,
David

[2021-11-18 00:41] djblue commented on #78
Hi @davidpham87, I think ctrl-j is already used as an alternative to `cmd + shift + p`, but I would be down to add a `portal.ui.commands/select-root` command and map it to another shortcut, not sure what though 🤔

I probably won't have time to do it soon, so if you feel like giving it a shot, you can look at [`portal.ui.commands`](https://github.com/djblue/portal/blob/master/src/portal/ui/commands

[2021-11-19 12:48] Cyrik commented on #77
"type → function" map sounds like a good start, although it would be great if the dispatch was a little more "general"? since most of us are dealing with maps its a little restrictive to have only one function for that.

I'm not exactly sure what a second dispatch parameter could be, but maybe a metadata key on the var?

as for prior art: there's [specter](https://github.com/redplanetlabs/specter)

[2021-11-20 10:59] Cyrik opened #79 "Feature Request: user defined callbacks on vega views"
I'd love to be able to extend already defined views. I've been thinking that the easiest way to get most of the functionality would be by being able to pass in an optional map of functions that can be called back into the hosting runtime.

For me its mostly interesting on the Vega view, so playing around with it I came up with the following modification:

[code]

This would have to be cleaned up a

[2021-11-20 22:12] djblue commented on #79
Hi @Cyrik!

You are correct, viewers are not currently extensible due to how the Portal UI is built and packaged in the jar.

I think the notion of runtime extensibility is interesting. I think we might want to iterate on the API a bit though. Also, if I remember correctly, I think vega has their own notion of event's we might want to plug into.

I am experimenting with pulling in sci to allow use

[2021-11-20 23:22] Cyrik commented on #79
Do you have any ideas/suggestions on the api? At least for my use-case it would be pretty nice to just be invoked back into a registered command, although it would help if the command result would do something useful back in vega.

It actually has multiple: the one i used [addEventListner](https://vega.github.io/vega/docs/api/view/#view_addEventListener) and a little harder to use but more general

[2021-11-23 22:38] seancorfield opened #81 "random-uuid is a core function in Clojure 1.11 Alpha 3"
WARNING: random-uuid already refers to: #'clojure.core/random-uuid in namespace: portal.runtime.browser, being replaced by: #'portal.runtime.browser/random-uuid

[2021-11-24 00:34] djblue commented on #81
@seancorfield, thanks for the bug report, should be an easy fix I think 👍

[2021-11-24 02:47] #81 closed

[2021-11-24 15:56] mchughs opened #83 "Multi-select doesn't work on Ubuntu (on the portal-talk repo)"
Tried using `alt` and a bunch of other key combos and nothing worked to be able to multi-select. :(

Using a basic Dell Keyboard.

I actually cloned this repo onto my machine and tried with the dev build, and there, multi-select **did** work.
However on the portal-talk repo it doesn't. Really unclear why. I added a keyboard event listener onto the chrome window running portal and it properly captu

[2021-11-24 17:00] mchughs commented on #83
:facepalm: I see you just added `alt` for multi-select 14 days ago and the last release `0.18.0` was 15 days ago. My bad. Looking forward to `0.19.0` :smile:

[2021-11-24 17:00] #83 closed

[2021-11-24 17:32] djblue commented on #83
@mchughs, sorry about that. Should have waited to document it until it was released.

[2021-11-27 20:17] juan-ignacio-848 opened #86 "Multiple selection not working in Manjaro"
I'm trying to select multiple values by holding `ALT` and clicking on them, the result is that it just selects the last one I clicked.

This is my system information:

[code]

This is what is being returned by `window.navigator.platform`

[code]

[2021-11-28 04:26] djblue commented on #86
I think this problem might be related to https://github.com/djblue/portal/issues/83, will be fixed in the next release since it isn't release yet. Sorry for any confusion.

[2021-11-28 22:37] juan-ignacio-848 commented on #86
Great, thanks!

[2021-11-28 22:37] #86 closed

[2021-12-02 18:57] juan-ignacio-848 commented on #78
Speaking about shortcuts, it would be nice to be able to mark/unmark elements with `SPC` as an alternative to CMD/ALT + click

[2021-12-04 13:23] Cyrik commented on #79
I've played around more with vega callbacks and at this point, I think we can get 90% of the possibilities by just allowing commands to be bound to signals. That way all the actual code would be inside the vega spec and on the Clojure server side and if it's just "light" interaction you wouldn't need your own custom view.

[code]

I'd love it if you would put this change into the main vega view.

[2021-12-31 19:19] hugoduncan opened #99 "Vega-lite viewer cuts off right hand edge of chart"
When viewing a vega-lite chart, it looks like the vega-lite view extends past the right hand edge of the visible component.  The red highlighting around the selected portal item is missing on the right hand edge of the vega-lite view.  This leads to some data points not getting displayed.

This is with 0.19.2 running from clojure on a mac.

[2022-01-02 23:13] djblue commented on #99
Hi @hugoduncan, do you have some sample data to reproduce? Thanks for the bug report.

[2022-01-03 03:20] hugoduncan commented on #99
Apologies for the omission.
[code]

[2022-01-07 00:24] Cyrik opened #101 "Feature Request: Portal standalone with vscode goto definition"
Currently launching portal with (p/open {:launcher :vs-code}) does nothing if there is no portal plugin, but if you call "go to definition" in the standalone launcher it tries to do that in emacs.
It would be great to have the launcher option separate from the IDE selection option.

If you want to I can write a PR for this once I find some time.

[2022-01-07 01:24] djblue commented on #101
I really like the idea, let me know if https://github.com/djblue/portal/commit/65baf7c9a34218b3ad3332903385148b532e258d works for you.

[2022-01-08 12:23] #101 closed

[2022-01-08 13:00] Cyrik commented on #101
Thanks for quick response. I didn't have the time to try it yet, but the code looks good!

[2022-01-25 09:53] kjothen opened #107 "Windows VS Code extension fails to display"
The VS Code integration does not seem to fire-up on Windows. It appears to be a problem with making the directory `~/.portal`, probably an issue with an errant leading `/`.

[code]

[2022-01-25 19:23] djblue commented on #107
Interesting, thanks for the bug report @kjothen! I will look into this if I get some time. The relevant code can be found [here](https://github.com/djblue/portal/blob/master/src/portal/extensions/vs_code.cljs#L81-L94) if you are feeling adventurous.

[2022-01-27 01:11] djblue commented on #107
@kjothen I think #108 should fix this 💯

[2022-01-27 01:12] #107 closed

[2022-03-09 05:39] djblue commented on #78
@davidpham87, I think now with https://github.com/djblue/portal/commit/83365c80f92d8f480cb2664238939c9554d98ac6, anytime you try relative selection and nothing is selected, the root is selected. I think this should solve your issue and will be part of the next release. If you consider this a solution, feel free to close the issue.

@juan-ignacio-848, I'll see about adding keyboard only multi-selec

[2022-03-09 05:40] djblue commented on #79
@Cyrik, I think since we went the cljs extensibility route, this issue can be considered resolved. Feel free to open it back up if not.

[2022-03-09 05:40] #79 closed

[2022-03-09 07:35] #78 closed

[2022-03-30 20:15] davidpham87 opened #116 "Bug dev: dev-cljs aliases not defined"
Hello,

I am trying to add a new viewer to portal (adding plotly charts), and as I am using emacs, it occurred to me that dev-cljs was not defined in deps.edn.

Best regards,
David

[2022-04-01 16:03] djblue commented on #116
Sorry about that, let me know if https://github.com/djblue/portal/commit/f36d60316a08246b6f0ac59cf70cf19262426cba fixes it 👌

[2022-04-04 06:12] #116 closed

[2022-04-04 06:34] daslu opened #119 "different values rendering the same"
We ran into the following example:

Calling this a few times
[code]
gives identical plots, while the printed values are different each time.

Quoting @djblue's explanations [at Slack](https://clojurians.slack.com/archives/C0185BFLLSE/p1649028191483679):

[code]

[code]

[2022-05-09 07:21] orestis opened #125 "VSCode Extension: allow for dragging the tab around"
I'm not sure if this is a VSCode bug, but I realised that when I'm trying to drag the Portal tab around, the whole window is also being dragged with it. A very strange behaviour, as if the drag events are passed to both the tab, and the window itself.

To reproduce:

* Make a left/right split in VSCode, open a few files in each side.
* Open portal via the `extension.openPortal` command (it shows u

[2022-05-09 15:12] djblue commented on #125
Hi @orestis, thanks for opening up this issue 👍  Quick question, what operating system is this on? I can't seem to reproduce on OSX.

[2022-05-09 15:19] djblue commented on #125
I did notice the issue on windows and https://github.com/djblue/portal/commit/e625065fda64b3e85fe3ba212a5b061bd613f340 seems to fix it 👌

[2022-05-09 16:35] velios opened #126 "Possibility to navigate through data from Datomic database"
Structures with datomic.query.EntityMap

[2022-05-11 17:28] djblue commented on #126
Hi @velios, can you elaborate on your issue? Currently any value that implements the [`nav`](https://clojuredocs.org/clojure.core.protocols/nav) protocol should be usable via Portal.

[2022-05-12 05:04] velios commented on #126
Thx for your interest. In my project i use Datomic, which i found convinient with Clojure.
In my repl i can do this
(def e (d/entity <db> <entity-id>))
and e will be instance of (instance? datomic.query.EntityMap asset-def) -> true
which is navigable (satisfies? clojure.core.protocols/Navigable asset-def) -> true
From REPL i can navigate from entity any level to depth (-> e :e-ns/link-to-another-e

[2022-05-12 21:42] djblue commented on #126
It looks to me like what you are leveraging at the repl is that `datomic.query.EntityMap` implements `clojure.lang.ILookup`. What does calling [`datafy`](https://clojuredocs.org/clojure.datafy/datafy) on it do?

[2022-05-14 05:35] velios commented on #126
I tried same in REBL tool and it works like portal. Probably it isn't possible without radically changes. I hope sometime drill down datomic data in Portal will work like in Datomic Console. I add explanatory videos if you don't see Datomic Console before. Thx for you answers.

https://user-images.githubusercontent.com/9293462/168412223-2dcf9d06-dc42-4dd0-8c47-4cca4c2c42c7.mp4

.

[2022-05-15 04:08] djblue commented on #125
This should be resolved with [`0.26.0`](https://github.com/djblue/portal/releases/tag/0.26.0)

[2022-05-15 04:08] #125 closed

[2022-06-21 20:29] bortexz opened #128 "Allow sorted-map to be displayed on it's original order"
Portal tries to sort any map on it's keys, even sorted-maps that might have a different ordering (using custom comparator). Ideally, sorted-maps would be printed on their original order instead of trying to sort them.

[2022-06-22 05:46] djblue commented on #128
Thanks for opening the issue! https://github.com/djblue/portal/commit/b0b962ad0f6964be96414b7e07092ed3869661f8 should address this issue and be part of the next release.

[2022-06-22 07:01] #128 closed

[2022-07-22 18:21] coyotesqrl opened #131 "When using IntelliJ extension, enable jump-to-code in `:portal.viewer/stack-trace` view"
(I'm sure this could be implemented for VSCode as well; that would be a separate ticket, I think.)

When working on...let's call it linguine code so as not to be _too_ crude...I find I often write taps like the following:
[code]
so I can walk back through the callstack. It's all there, and I can manually move around in the editor to the ns and line I need, but it would be nice if it the integrated

[2022-08-28 04:43] schneiderlin opened #136 "Feature request: navigate multiple level at the same time"
thanks for the great tool!

screenshot from hacker news demo
<img width="579" alt="image" src="https://user-images.githubusercontent.com/17421608/187057571-ead582e5-abf6-4832-8cda-3f38c0e8bcfd.png">
currently, if I click on the item id. it would just return the id as a value.

I want the user to be able to supply a nav function in meta similar to this
[code]
when the id is clicked, invoke `nav-ite

[2022-08-30 00:20] #136 closed

[2022-08-30 00:21] djblue commented on #136
@schneiderlin Good catch, I think attaching metadata directly to the sub collections should do the trick 👌

[2022-09-05 11:37] velios commented on #126
Hello. One more question if it possible.

I add navigation through datomic data in my project and it works like charm
` (extend-protocol clojure.core.protocols/Datafiable
   datomic.query.EntityMap
   (datafy [o] (into {} o)))

 (extend-protocol clojure.core.protocols/Navigable
   Object
   (nav [coll k v]
     (clojure.datafy/datafy v)))`

Quick demo how it works

https://user-images.githubuserco

[2022-09-05 18:08] djblue commented on #126
Not sure I understand the question. Do you want to customize how entity maps are rendered or do you want them to be rendered as a string?

[2022-09-05 18:41] velios commented on #126
Want to understand how portal choose short-form of value and how return short-form which i like for specific class. In my case i want to render string and if i click RET on it fall into long-form of value(clojure.datafy/datafy)

[2022-09-05 19:34] djblue commented on #126
I think something like:

[code]

Might be what you are looking for.

[2022-09-05 19:36] djblue commented on #126
Also, you could do:

[code]
If the main issue is that the vector is collapsed by default.

[2022-09-13 12:51] margintop15px opened #138 "No config file found: intellij.edn"
Hello
Getting an error saying `No config file found: intellij.edn`
while trying to use intellij plugin

I'm using MacOS 12.5.1
And IntelliJ IDEA 2021.3.2 (Ultimate Edition)
Also I have `[djblue/portal "0.30.0"]` in my lein dependencies
I have a Portal Inspector plugin installed (0.30.0)

my code looks like this:

[code]

Here is a stacktrace

[code]

What I'm doing wrong?
Should I create `intellij

[2022-09-13 13:33] coyotesqrl commented on #138
The configuration file is created when the Portal tab is opened the first time after Intellij is started; if you open the tab, you'll be able to connect.

The config file is deleted when Intellij is shutdown, so you'll need to re-open the tab on each subsequent restart of the application.

The docs will be updated to reflect the change; there may also be an update to the exception text.

[2022-09-13 16:05] djblue commented on #138
@margintop15px Would an exception message like `No config file found: intellij.edn: Please ensure extension is installed and Portal tab is open.` be useful?

[2022-09-13 18:04] margintop15px commented on #138
Sorry, didn't get which tab I should open. Do you mean the the portal/open call?

[2022-09-13 21:09] djblue commented on #138
If you have the portal extension installed, you should see a tab on the right:

![Screen Shot 2022-09-13 at 2 06 30 PM](https://user-images.githubusercontent.com/1986211/190009512-e3338786-a003-416f-ad16-456e2a550213.png)

[2022-09-13 21:15] margintop15px commented on #138
oh, now I'm seeing it.
thanks
ok, it makes sense.
would be nice to have it somewhere in the readme or in the docs

[2022-09-14 17:56] #138 closed

[2022-09-15 13:10] velios commented on #126
I did what i want by redifene print-method, but strange. If i return string from print method then portal render it as symbol. But symbols not able to use spaces.

[code]

It also works same way with any redefined class

[2022-09-15 18:53] djblue commented on #126
I think you might need to include the "" around the value if you want it to render as a string.

[2022-09-15 21:17] velios commented on #126
It works! Last piece to puzzle i tried to solve this week. Just as amazing a response as the product you're working on. Thank you a lot.

[2022-09-15 21:17] #126 closed

[2022-10-10 20:32] pfeodrippe opened #139 "Shortcut for `datafy`"
Hi,

Would it be possible to create a shortcut for `datafy` (e.g. `SHIFT + ENTER`)? Maybe it was discussed before, but I didn't find anywhere.

Thanks

[2022-10-10 21:26] djblue commented on #139
@pfeodrippe that sounds like a good idea to me, mind putting up a PR? It should fit nicely under [here](https://github.com/djblue/portal/blob/master/src/portal/ui/commands.cljs#L271).

[2022-10-11 01:33] pfeodrippe commented on #139
Done, thanks @djblue o/

I have tested using by using `bb dev` and then running `user.clj`, it was a sweet piece of cake! Great work here

[2022-10-11 03:14] #139 closed

[2022-10-13 20:48] hiredman opened #141 "websocket connection doesn't use correct port"
I use something like
[code]

to start portal  and then click on the link it prints out like

[code]

which results in a blank page and a console log with

[code]
 in it in my browser

[2022-10-15 20:07] #141 closed

[2022-10-17 01:50] pfeodrippe opened #145 "Ability to start Portal without UI"
Am I able to start Portal without a UI?

For example, a `p/open` that does not open a window, it just starts the server (so I can link later somewhere using the new `p/url` function), returning the usual Portal object (`p/start` returns a map).

[2022-10-17 02:18] djblue commented on #145
@pfeodrippe, I recently added https://github.com/djblue/portal/commit/0dfe3425cc10671285c709decde97173cb863059 to allow users to disable the launcher with `{:launcher false}`. It will be part of the next release.

[2022-10-17 02:47] pfeodrippe commented on #145
Oh nice!! This is why your gist in Clojurians for Portal in Clerk wasn’t working ahahahahahaha sorry,  man.

Keep the good work, don’t forget to take some good breaks

[2022-10-17 02:47] #145 closed

[2022-11-10 12:25] Ramblurr opened #152 "Docs for cider mention a .dir-locals.el that doesn't exist"
https://github.com/djblue/portal/blob/3313b7baea86c422b06c3458d0362aa54272b745/doc/dev/editors.md?plain=1#L28

This linked file doesn't seem to exist in the repo anymore.

[2022-11-10 15:57] djblue commented on #152
Good catch @Ramblurr, this use to live in the README so it should actually point to the one in the root of the repo. Did you want to put up a PR with the fix?

[2022-11-12 18:22] #152 closed

[2022-11-17 02:42] #119 closed